{% extends 'base.html' %}
{% load markup %}

{% block title %}Album: {{album.title}}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Auratus</a> <span class="divider">/</span></li>
  <li><a href="{% url 'album-index' %}">Albums</a> <span class="divider">/</span></li>
	<li class="active">{{album.title}}</li>
</ul>

{% if request.user and not request.user.is_anonymous %}
<form action="add_photo/" method="post" enctype="multipart/form-data">
<input type="file" name="image" /><br />
<input type="text" name="title" placeholder="title" /><br />
<textarea rows="5" cols="50"></textarea><br />
<input type="submit" value="add image" />
</form>

<p>Commandline uploads to: <tt><b>{% url 'bulk-add' album.id token %}</b></tt></p>
<pre>
export AURATUS_BASE=https://auratus.thraxil.org
for i in `ls *.jpg`; do curl -F "image=@$i" ${AURATUS_BASE}{% url 'bulk-add' album.id token %}; done
</pre>
    
{% endif %}



{% if album.description %}
{{album.description|markdown}}
{% endif %}

<a href="{% url 'album-slideshow' album.id %}">slideshow</a>

<div id="thumbnails">
	{% for ap in album.albumphoto_set.all %}
	{% with ap.photo as photo %}
	<div class="album-thumbnail">
    <a href="{% url 'photo' photo.id %}">
			<img src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{photo.reticulum_key}}/350w/{{photo.id}}{{photo.extension}}"
					 alt="{{photo.title}}"/>
    </a>
	</div>
	{% endwith %}
{% endfor %}
</div>

<script>
var $container = $('#thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.album-thumbnail',
    columnWidth : 370
  });
});
</script>

{% endblock %}
