{% extends 'base.html' %}
{% load markup %}

{% block content %}
<h1>{{album.title}}</h1>
{% if album.description %}
{{album.description|markdown}}
{% endif %}

<h2>Images</h2>
<ul class="thumbnails">
	{% for ap in album.albumphoto_set.all %}
	{% with ap.photo as photo %}
  <li class="span3">
    <a href="{% url photo photo.id %}" class="thumbnail">
			<img src="http://reticulum.thraxil.org/image/{{photo.reticulum_key}}/350w/{{photo.id}}.{{photo.extension}}"
					 width="350" alt="{{photo.title}}"/>
    </a>
		<h5>{{photo.title}}</h5>
  </li>
	{% endwith %}
{% endfor %}
</ul>

{% endblock %}
