{% extends 'base.html' %}
{% block title %}Albums{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Auratus</a> <span class="divider">/</span></li>
  <li class="active">Albums</li>
</ul>

	{% for album in albums %}
<div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span6 thumbnail">
		<a href="{% url 'album' album.id %}">
			{% with album.albumphoto_set.all.0.photo as photo %}
			<img src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{photo.reticulum_key}}/600w/{{photo.id}}{{photo.extension}}"
					 alt="{{album.title}}"/>
			{% endwith %}
		</a>
	</div>
	<div class="span4">
		<a href="{% url 'album' album.id %}"><h4>{{album.title}}</h4></a>
	</div>

</div>
	{% endfor %}

{% endblock %}
