{% extends 'base.html' %}
{% load markup %}

{% block content %}
<h1>{{album.title}}</h1>
{% if album.description %}
{{album.description|markdown}}
{% endif %}

<h2>Images</h2>
<div id="thumbnails">
	{% for ap in album.albumphoto_set.all %}
	{% with ap.photo as photo %}
	<div class="album-thumbnail">
    <a href="{% url photo photo.id %}">
			<img src="http://reticulum.thraxil.org/image/{{photo.reticulum_key}}/350w/{{photo.id}}.{{photo.extension}}"
					 alt="{{photo.title}}"/>
    </a>
	</div>
	{% endwith %}
{% endfor %}
</ul>

<script>
var $container = $('#thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.album-thumbnail',
    columnWidth : 370
  });
});
</script>

{% endblock %}
