{% extends 'base.html' %}

{% block content %}

{% if paginator %}
<div class="pagination pagination-centered">
	<ul>
		<li><a href="{% url page 1 %}">First</a></li>
{% if paginator.has_previous %}
		<li><a href="{% url page paginator.previous_page_number %}">Previous [{{paginator.previous_page_number}}]</a></li>
{% endif %}
		<li class="active"><a href="">{{paginator.number}}</a></li>

{% if paginator.has_next %}
		<li><a href="{% url page paginator.next_page_number %}">Next [{{paginator.next_page_number}}]</a></li>
{% endif %}
		<li><a href="{% url page paginator.paginator.num_pages %}">Last [{{paginator.paginator.num_pages}}]</a></li>
	</ul>
</div>
{% endif %}

<h2>Images</h2>
<ul class="thumbnails">
	{% for photo in photos %}
  <li class="span3">
    <a href="{% url photo photo.id %}" class="thumbnail">
			<img src="http://reticulum.thraxil.org/image/{{photo.reticulum_key}}/350w/{{photo.id}}.{{photo.extension}}"
					 width="350" alt="{{photo.title}}"/>
    </a>
		<h5>{{photo.title}}</h5>
  </li>


{% endfor %}
</ul>

{% endblock %}
