{% extends 'base.html' %}
{% block title %}Tag: {{tag.name}}{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li><a href="{% url index %}">Auratus</a> <span class="divider">/</span></li>
  <li><a href="{% url tag-index %}">Tags</a> <span class="divider">/</span></li>
  <li class="active">{{tag.name}}</li>
</ul>

<div id="thumbnails">
	{% for pt in tag.phototag_set.all %}
	{% with pt.photo as photo %}
  <div class="album-thumbnail">
    <a href="{% url photo photo.id %}">
			<img src="http://reticulum.thraxil.org/image/{{photo.reticulum_key}}/350w/{{photo.id}}.{{photo.extension}}"
					 alt="{{photo.title}}"/>
    </a>
  </div>
   {% endwith %}
{% endfor %}
</div>

<script>
var $container = $('#thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.album-thumbnail',
    columnWidth : 370
  });
});
</script>


{% endblock %}
