{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Auratus: {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="auratus">
  <meta name="author" content="CCNMTL">

{% compress css %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
{% endcompress %}
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}
{% compress js %}
  <script src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
  <script src="{{STATIC_URL}}masonry/jquery.masonry.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.imagesloaded.min.js"></script>
{% endcompress %}
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	{% block feeds %}{% endblock %}
</head>
<body>

{% block topnavbar %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="{% url 'index' %}">Auratus</a></li>
					<li><a href="{% url 'album-index' %}">Albums</a></li>
{% if not request.is_anonymous %}
					<li><a href="{% url 'add-album' %}">+</a></li>
{% endif %}
					<li><a href="{% url 'tag-index' %}">Tags</a></li>
          {% block topnavbarleftitems %}{% endblock %}
        </ul>

        <p class="navbar-text pull-right">
          {% block topnavbarrightitems %}{% endblock %}
{% block usernav %}
          {% if request.user.is_anonymous %}
          <a href="/accounts/login/?next=/" class="btn">login</a>
          {% else %}
          logged in as {{request.user.first_name}} {{request.user.last_name}}
          <a href="/logout/" class="btn btn-inverse">logout</a>
          {% endif %}
{% endblock %}
       </p>

       </div>
     </div>
  </div>
{% endblock %}

  <div class="container" id="outer-container">
{% block masthead %}
    <header class="subhead hidden-phone" id="masthead">
      <h1><a href="{% url 'index' %}" title="auratus">auratus</a></h1>
    </header>
{% endblock %}

    <div class="container-fluid" id="content">
      <div class="row-fluid">
        <div class="span12" id="right-content">
{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block footer %}
  <footer class="footer navbar-fixed-bottom hidden-phone">
		All Content CC Public Domain.
  </footer>
{% endblock %}

<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

{% compress js %}
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
{% endcompress %}

{% block js %}{% endblock %}

</body>
</html>
